{% extends 'base.html' %}

{% block header %}
{% if user.is_authenticated %}
{% else %}
<div class="new">
  <a href="{% url 'login' %}">
    <button type="button">로그인</button>
  </a>
</div>
{% endif %}
{% endblock %}

{% block container %}
{% if user.is_authenticated %}
{% else %}
<div class="container">
  <div class="row">
    <div>
      <form action="" method="POST" class="sign-up-form">
        {% csrf_token %}
        <h2 class="sub-title">회원가입</h2>
        {% for field in form %}
        <div class="form-group">
          {{ field.label }}
          {{ field }}
        </div>
        {% endfor %}
        <button type="submit">회원가입</button>
        <a href="{% url 'index' %}">
          <button type="button">취소</button>
        </a>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
